packaging_format = 2

id = "portainer"
name = "Portainer"
description.en = "Deploy, configure, troubleshoot and secure containers in minutes on Docker"
description.fr = "Déployez, configurez, dépannez et sécurisez les conteneurs en quelques minutes sur Docker"

version = "2.19.1~ynh1"

maintainers = ["pbrisacier@mncc.fr"]

[upstream]
# NB: Only the "license" key is mandatory. Remove entries for which there's no relevant data
license = "Zlib"
website = "https://www.portainer.io/"
admindoc = "https://docs.portainer.io/v/2.18/admin/users"
userdoc = "https://docs.portainer.io/v/2.18/user/home"
code = "https://github.com/portainer/portainer"

[integration]
yunohost = ">= 11.1.21"
architectures = "all"
multi_instance = false
ldap = false
sso = false
disk = "300M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "domain"

    [install.path]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "path"
    default = "/portainer"

    [install.init_main_permission]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    # This won't be saved as setting and will instead be used to initialize the SSOwat permission
    type = "group"
    default = "admins"

    [install.admin]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "user"
    help.en = "Portainer admin Username will be this user's username"
    help.fr = "Le login de l'administrateur de Portainer sera le login de cet utilisateur"

    [install.password]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    # Note that user-provided passwords questions are not automatically saved as setting
    help.en = "Choose the Portainer admin password"
    help.fr = "Choisissez le mot de passe de l'administrateur de Portainer"
    type = "password"

[resources]
    # See the packaging documentation for the full set
    # of explanation regarding the behavior and properties for each of those

    [resources.system_user]
    # This will provision/deprovision a unix system user

    [resources.data_dir]
    # This will create/remove the data dir as /home/yunohost.app/$app
    # and store the corresponding setting $data_dir
    subdirs = ["data"]

    [resources.permissions]
    # This will configure SSOwat permission for $domain/$path/
    # The initial allowed group of user is configured via the init_main_permission question (public=visitors, private=all_users)
    main.url = "/"
    main.auth_header = false

    [resources.ports]
    # This will pick a random port for reverse-proxying and store it as the $port setting

    [resources.apt]
    # This will automatically install/uninstall the following apt packages
    # and implicitly define the $phpversion setting as 8.0 (if phpX.Y-foobar dependencies are listed)
    packages = ["ca-certificates", "curl", "gnupg"]
    extras.docker.repo = "deb https://download.docker.com/linux/debian bullseye stable"
    extras.docker.key = "https://download.docker.com/linux/debian/gpg"
    extras.docker.packages = ["docker-ce", "docker-ce-cli", "containerd.io", "docker-buildx-plugin", "docker-compose-plugin"]
